<h1>About</h1>
<p>This project exists and is maintained at <a href="https://github.com/dmarmugi/DiabetesTracker-Web">Github</a></p>
<p>The app is also hosted at <a href="https://diabetestracker.herokuapp.com/">Heroku</a></p>